@media screen and (max-width: 780px) {
    .des{
        padding: 2rem;
    }
    .dest{
        padding: 2rem;
    }
    .footer ul li {
        font-size: 11px !important;
    }

    .video iframe {
        height: 350px;
    }
  }